body {
	background: linear-gradient(to right, #43cea2, #185a9d);
	margin: 0px;
    }
main {margin: 20px;}
h1{
	text-align: center;
}
.navbar ul{
	list-style-type: none;
	background-color: rgb(79, 79, 79);
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
.navbar a{
	color: white;
	text-decoration: none;
	padding: 15px;
	display:block;
	text-align: center;
}
.navbar a:hover{
	background-color: rgb(48, 48, 48);
}
.navbar li{
	float: left;
}
img {
    width: 200px;
    border-radius: 100px;
    float: left;
    margin-right: 20px;
  }

  p.username {
    font-weight: bolder;
  }
  p.text {
    color: blue;
  }
  em {
    color: red;
    font-size: xx-large;
    font-style: italic;
  }
  